/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: PingFang TC;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 932px) {
  .header {
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
}

.header ul {
  display: flex;
  align-items: center;
}

.header ul a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #3F5D45;
  font-size: 16px;
  margin-left: 60px;
}

@media (max-width: 932px) {
  .header ul a {
    margin: 0;
  }
}

.header ul a :hover {
  color: #EAF0ED;
}

@media (max-width: 932px) {
  .header .mediaDisplayNone {
    display: none;
  }
}

.header .logo {
  width: 211px;
  height: 64px;
}

.hambergur {
  padding-top: 30px;
  display: none;
}

@media (max-width: 932px) {
  .hambergur {
    display: inline-block;
    padding: 0;
  }
}

.navbar {
  transition: all .8s;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #3F5D45;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}

.active {
  display: none;
}

.subscription {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #3F5D45;
  display: flex;
  justify-content: center;
}

@media (max-width: 932px) {
  .subscription {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.subscripMail {
  display: flex;
  align-items: center;
  color: #EAF0ED;
  padding: 38px 122px;
  font-size: 24px;
  font-weight: normal;
}

@media (max-width: 932px) {
  .subscripMail {
    padding: 30px 0 0 0;
  }
}

.subscripMail img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.subscripInput {
  display: flex;
  max-width: 380px;
  height: 56px;
  padding: 30px 120px 30px 0;
  position: relative;
}

@media (max-width: 932px) {
  .subscripInput {
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0;
  }
}

.subscripInput input {
  max-width: 316px;
  border: none;
  padding-left: 60px;
  font-size: 20px;
  background-color: #EAF0ED;
}

.subscripInput button {
  width: 64px;
  border: none;
  background-color: #FFE180;
  box-sizing: border-box;
  cursor: pointer;
}

.mailIcon {
  position: absolute;
  color: #000000;
  top: 46px;
  left: 20px;
  z-index: 99;
}

.footer {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #EAF0ED;
}

.footer .icon {
  display: flex;
}

.footer .icon img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.footerTop {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 932px) {
  .footerTop {
    padding: 0;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .footerTop {
    justify-content: flex-start;
  }
}

.addressSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 932px) {
  .addressSide img {
    padding: 40px 0px;
  }
}

.addressSide p {
  font-size: 16px;
  color: #3F5D45;
}

@media (max-width: 932px) {
  .addressSide p {
    line-height: 24px;
  }
}

@media (max-width: 932px) {
  .dessertSide {
    display: none;
  }
}

.dessertSide p {
  font-size: 24px;
  writing-mode: vertical-rl;
  line-height: 1.2;
  letter-spacing: 5px;
  text-orientation: upright;
  color: #3F5D45;
}

.dessertSide span {
  margin-top: 10px;
}

.footerBot {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 932px) {
  .footerBot {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .footerBot {
    align-items: flex-start;
  }
}

.footerBot .copyRight {
  font-size: 16px;
  color: #3F5D45;
}

@media (max-width: 932px) {
  .footerBot .copyRight {
    margin-bottom: 30px;
  }
}

@media (max-width: 932px) {
  .icon {
    margin: 27px 0 23px 0;
  }
}

.paymentSuccessfulContent {
  max-width: 940px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-image: url("https://bit.ly/2P7GhNd");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

@media (max-width: 932px) {
  .paymentSuccessfulContent {
    background-position: center;
    margin-bottom: 0;
  }
}

.successProcess {
  margin-top: 50px;
}

.successProcess i {
  color: #3F5D45;
  font-size: 24px;
}

.contiune {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

@media (max-width: 932px) {
  .contiune {
    display: none;
  }
}

.contiune a {
  background-color: #FFE180;
  color: #3F5D45;
  padding: 17px 102px;
  text-decoration: none;
}

.contiune :hover {
  background-color: #3F5D45;
  color: #ffffff;
}

.paidSuccess {
  margin: 30px 0;
}

.paidSuccess p {
  color: #3F5D45;
  font-size: 40px;
}

.mobileShow {
  display: none;
}

@media (max-width: 932px) {
  .mobileShow {
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: #FFE180;
  }
  .mobileShow a {
    display: inline-block;
  }
}
/*# sourceMappingURL=all.css.map */